* {
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex;
}

header {
    height: 84px;
    box-shadow: 0 6px 6px rgb(0 0 0 / 6%);
    align-items: center;
}

.wrapper-header {
    width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.wrapper-header .title {
    align-items: center;
}

.wrapper-header .title a {
    padding: 0px 20px;
}

.wrapper-header .title a svg {
    height: 42px;
    margin-top: -10px;
    fill: #ee4d2d;
}

.wrapper-header .title .text {
    color: #222;
    font-size: 24px;
    font-weight: 500;
}

.wrapper-header .help {
    color: #ee4d2d;
    font-size: 14px;
    font-weight: 500;
    margin-right: 18px;
}

main {
    width: 100%;
    height: 2000px;
    background-color: rgb(238, 77, 45);
}

.background {
    background-image: url(../image/login/login_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 600px;
    width: 1040px;
    margin: 0 auto;
}

.background .block {
    width: 100%;
    justify-content: space-between;
    padding: 62px 0px;
}

.background .block form {
    background-color: #fff;
    border-radius: 5px;
}

.wrapper-form {
    width: 400px;
}

.wrapper-form .head-form {
    padding: 22px 30px;
    align-items: center;
    justify-content: space-between;
}

.wrapper-form .head-form .title {
    max-width: 8.5rem;
    font-size: 1.25rem;
    color: #222;
    flex-shrink: 0;
}

.wrapper-form .head-form .icon {
    margin-left: 20px;
    align-items: center;
}

.wrapper-form .head-form .icon .first-icon {
    padding: 10px 12px;
    color: #ffbf00;
    font-size: 14px;
    font-weight: 700;
    border: 2px solid #ffbf00;
    border-radius: 2px;
    line-height: 1.1;
    position: relative;
    margin-right: 1rem;
    background-color: #fefaec;
}

.wrapper-form .head-form .icon .first-icon::after {
    position: absolute;
    content: "";
    box-sizing: border-box;
    width: 0.75rem;
    height: 0.75rem;
    transform: rotate(45deg) translateX(-50%);
    border-top: 2px solid #ffbf00;
    border-right: 2px solid #ffbf00;
    top: 50%;
    right: -0.75rem;
    background-color: #fefaec;
}

.wrapper-form .main-form {
    padding: 0 30px 30px;
    overflow: hidden;
}

.wrapper-form .main-form .wrapper-user {
    margin-bottom: 10px;

}

.wrapper-form .main-form .wrapper-user .user {
    box-sizing: border-box;
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .14);
    border-radius: 2px;
    box-shadow: inset 0 2px 0 rgb(0 0 0 / 2%);
    display: flex;
    align-items: center;

}

.wrapper-form .main-form .wrapper-user .user input {
    width: 100%;
    padding: 0.75rem;
    outline: none;
    border: 0;
    flex: 1;
    flex-shrink: 0;
    filter: none;
}

.wrapper-form .main-form .wrapper-user .user input::placeholder {
    font-size: 14px;
    color: #000000;
    opacity: 0.5;
}

.wrapper-form .main-form .wrapper-user .padding-bottom {
    margin: 0;
    padding: 0.25rem 0 0;
    font-size: .75rem;
    color: #ff424f;
    min-height: 1rem;
}

.wrapper-form .main-form .wrapper-password {
    margin-bottom: 14px;
}

.wrapper-form .main-form .wrapper-password .password {
    box-sizing: border-box;
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .14);
    border-radius: 2px;
    box-shadow: inset 0 2px 0 rgb(0 0 0 / 2%);
    display: flex;
    align-items: center;

}

.wrapper-form .main-form .wrapper-password .password input {
    width: 100%;
    padding: 0.75rem;
    outline: none;
    border: 0;
    flex: 1;
    flex-shrink: 0;
    filter: none;
}

.wrapper-form .main-form .wrapper-password .password input::placeholder {
    font-size: 14px;
    color: #000000;
    opacity: 0.5;
}

.wrapper-form .main-form .wrapper-password .padding-bottom {
    margin: 0;
    padding: 0.25rem 0 0;
    font-size: .75rem;
    color: #ff424f;
    min-height: 1rem;
}

.wrapper-form .main-form .login-btn {
    width: 100%;
    color: #fff;
    background-color: #ee4d2d;
    box-shadow: 0 1px 1px rgb(0 0 0 / 9%);
    height: 2.5rem;
    min-width: 8.75rem;
    outline: none;
    padding: 0 0.625rem;
    border: 0;
}
.wrapper-form .main-form .forgot{
    margin: 10px 0;
}
.wrapper-form .main-form .forgot a {
    text-decoration: none;
    color: #05a;
    font-size: 13px;
}